/*positioning was based off laptop, may not currently be user-friendly*/


/*background*/
body {
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0% 90%;
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding:;
  background-image: URL("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DrawWEB.jpeg?v=1734789589732");
}

.top {
  position: sticky;
  top: 0;
}

/*interactive board for designing*/

section{
  background: white;
  border-radius: 7px;
}

.drawing-board{
  flex: 1;
  overflow: hidden;
}

.title {
  position: static;
}

/*option buttons*/
.option {
  background-color: #AD88C6;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
 /*button effects*/
button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px #AAAAAA;
}
button:active {
  box-shadow: 0 1px #888888;
  transform: translateY(1px);
}

/*design of boxes*/
.pattern1 {
  background: #ffe6e6;
  height:600px;
  width:250px;
  border: 10px solid #ffe6e6;
  overflow:auto;
}
br {
  display: block;
  content: "";
  margin-top: 5px;
}


/*button for different options*/
.lol {
  background-color: #E1AFD1;
  border: none;
  color: white; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 10px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 70px;
}

/*button to direct to homepage*/
#back {
  background-color: #5a519b;
  color: #ffe6e6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/*footer with references*/
footer {
  background-color: #ffe6e6;
  color: #ad88c6;
  width:100%;
  height:100%;
}
h4 {
  margin: 0;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 10px;
  padding-bottom: 0;
}
#refer {
  list-style-type: square;
  margin-left: 15px;
  padding: 10px;
  padding-top: 0;
}