/*positioning was based off laptop, may not currently be user-friendly*/


/*background*/
body {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 0% 90%;
}
.container{
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 10px;
  background-image: URL("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DrawWEB.jpeg?v=1734789589732");
}

.top {
  position: sticky;
  top: 0;
}

/*interactive board for designing*/

#options{
  background: white;
  border-radius: 7px;
  padding: 10px;
  padding-bottom: 0px;
  height: 88%;
  overflow: auto;
}

#drawing-board{
  flex: 1;
  display: flex;
  overflow: hidden;
  width: 80vw;
  height: 80vh;
  margin: auto;
  background: white;
  margin-right: 20px;
  border-radius: 15px;
}
canvas {
  width: 100%;
  height: 100%;
}


.title {
  position: static;
  text-decoration: none;
}

/*option buttons*/
.option {
  background-color: #AD88C6;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  width: 5vw;
  height: 5vw;
}
 /*button effects*/
button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px #AAAAAA;
}
button:active {
  box-shadow: 0 1px #888888;
  transform: translateY(1px);
}

/*design of boxes*/
.pattern1 {
  background: #ffe6e6;
  width: 20vw;
  padding: 10px;
  margin: 20px;
  overflow:auto;
  border-radius: 12px;
}
br {
  display: block;
  content: "";
  margin-top: 5px;
}


.list {
  display: none;
}
.list:target {
  display: inline;
}
input[type="color"] {
  background-color: transparent;
  border: none;
  width: 75%;
  height: 50px;
  cursor: pointer;
  border-radius: 20px;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 20px;
  border: 4px solid #e1afd1;
}
#changeCooler {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  bottom: -5px;
  background-color: #AD88C6;
  font-family: "Gill Sans", sans-serif;
  color: white;
}
#smol {
  display: flex;
  justify-content: center;
}


/*button for different options*/
.lol {
  background-color: #E1AFD1;
  border: none;
  color: white; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 10px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 70px;
}

/*button to direct to homepage*/
#back {
  background-color: #5a519b;
  color: #ffe6e6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

/*footer with references*/
footer {
  background-color: #ffe6e6;
  color: #ad88c6;
  width:100%;
}
h4 {
  margin: 0;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
  color: #5a519b;
}
#refer {
  list-style-type: square;
  margin-left: 15px;
  padding: 10px;
  padding-top: 0;
}

#patternI, #patternII {
  align-items: center;
  justify-content: center;
}

