body {
  height: 100%;
  background-repeat: no-repeat;
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  max-width: 1450px;
  padding: 30px;
  background-image: URL("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DrawWEB.jpeg?v=1734789589732");
  background-position: 0% 90%;
}
section{
  background: white;
  border-radius: 7px;
}

.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}

.title {
  position: static;
}

.option {
  background-color: #AD88C6;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px #AAAAAA;
}

button:active {
  box-shadow: 0 1px #888888;
  transform: translateY(1px);
}

.pattern1 {
  background: #ffe6e6;
  height:600px;
  width:250px;
  border: 10px solid #ffe6e6;
  overflow:auto;
}
 
br {
  display: block;
  content: "";
  margin-top: 5px;
}



.lol {
  background-color: #E1AFD1;
  border: none;
  color: white; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: sans-serif;
  font-variant: small-caps;
  font-size: 10px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 70px;
}

.top { 
  position: sticky;
  top: 0;
}

#back {
  background-color: #5a519b;
  color: #ffe6e6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer {
  background-color: #ffe6e6;
  color: #ad88c6;
  width:100%;
  height:100%;

}

h4 {
  margin: 0;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 10px;
  padding-bottom: 0;
}

#refer {
  list-style-type: square;
  margin-left: 15px;
  padding: 10px;
  padding-top: 0;
  width:100%;
  height:100%
}