*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
body{
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container{
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  background-image: URL("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/draw.jpeg?v=1734770057740");
}
section{
  background: #fff;
  border-radius: 7px;
}
.tools-board{
  width: 210px;
  padding: 15px 22px 0;
  background-color: #FFE6E6;
  height: 95vh;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #5a519b;
  -webkit-text-stroke: 1px #ad88c6;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #5a519b;
  -webkit-text-stroke: 1px #ad88c6;
}

.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
  cursor: ew-resize;
}

.colors .options{
  display: flex;
  justify-content: space-between;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #F1D0A5;
}
.colors .option:nth-child(2){
  background-color: #E1AFD1;
}
.colors .option:nth-child(3){
  background-color: #ad88c6;
}
.colors .option:nth-child(4){
  background-color: #5A519B;
}
.colors .option:nth-child(5){
  background-color: #fff;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #7469B6;
  border: 1px solid #E1AFD1;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #5A519B;
}
.buttons .save-img{
  background: #7469B6;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  width: 100%;
  height: 100%;
}

footer {
  background-color: #ad88c6;
  color: #F2E0BF;
  width:100%;
}
h4 {
  margin: 0;
  font-family: sans-serif;
  font-variant: small-caps;
  padding: 10px;
  padding-bottom: 0;
  font-size: 20px;
  color: #ffe6e6;
}
#refer {
  list-style-type: square;
  margin-left: 15px;
  padding: 10px;
  padding-top: 0;
}

/*Buttons and Effects*/
button {
  background-color: #5a519b;
  color: #ffe6e6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}
button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px #aaaaaa;
}
button:active {
  box-shadow: 0 1px #888888;
  transform: translateY(1px);
}
.row > button {
  padding: 10px 5px 10px 5px;
  position: static;
  font-family: sans-serif;
  font-variant: small-caps;
}

.title {
  font-size: 25px;
  color: #5a519b;
  -webkit-text-stroke: 1px #ad88c6;
  font-family: sans-serif;
  font-variant: small-caps;
}

img {
  width: 20%;
  height: 20%;
}