body{
  min-height: 100vh;
  background-repeat:no-repeat;
  background-position: 25% 100%
}
.container{
  background-image: URL("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/draw.jpeg?v=1734770057740");
  height: 100%;
  padding: 20px;
}

.artPart {
  display: flex;
  align-items: center;
  justify-content: center;
}

section{
  background: white;
  border-radius: 7px;
}

.drawing-board{
  flex: 1;
  overflow: hidden;
}

.drawing-board canvas {
  height: 675px; 
}

.tools-board{
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row{
  margin-bottom: 20px;
}
.row .options{
  list-style: none;
  margin: 1px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}

.option :where(span, label){
  color: #ad88c6;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #5a519b;
  -webkit-text-stroke: 1px #ad88c6;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.tools {
  background: #ffe6e6;
  border: 10px solid #ffe6e6;
  
}

/*color input boxes*/
input[type="color"] {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 40%;
  border: 4px solid #e1afd1;
}

/*brush size input slider*/
input[type="range"] {
  -webkit-appearance: none;
  width: 200px;
  height: 7px;
  border-radius: 5px;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #e1afd1;
  cursor: ew-resize;
}
input[type="range"]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  border: none;
  background: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#colors {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 25px;
  color: #5a519b;
  -webkit-text-stroke: 1px #ad88c6;
}

.row > button {
  background-color: #5a519b;
  color: #ffe6e6;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 10px 5px 10px 5px;
}

footer {
  background-color: white;
  display: flex;
}