marquee {
  direction: right; 
  behavior: alternate;
}

img {
  height: 120px;
  width: 120px; 
}

#main {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/garden.png?v=1738748898920");
  background-size: 100vw 100vh;
}

#top {
  display: flex;   
  justify-content: space-between;
  margin-left: 10px; 
  margin-right: 10px; 
  padding: 5px; 
  font-family: "Luminari", cursive;
  font-size: 50px;
  text-shadow: -0.5px -1px 0 #79582d, 0.5px -0.5px 0 #79582d, -1px 1px 0 #79582d,
    1px 1px 0 #79582d;
  color: #f1d0a5;
}

#score {
  display: flex; 
  padding: 1px; 
}