body {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/Congrats.png?v=1738763791147");
  background-repeat: no-repeat; 
  background-size: 100% 100vh;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 90;
}

#button1 {
  background-color: white;
  color: #79582D;
  border-radius: 6px;
  padding: 5px 25px 5px 25px;
  position: relative;
  top: 190;
  left:50%; 
  border: 1px #79582D solid;
  font-size: 15px;
  right: 50vw;
}

#button2 {
  background-color: white;
  color: #79582D;
  border-radius: 6px;
  padding: 5px 25px 5px 25px;
  position: relative;
  top: 200;
  left:50%; 
  border: 1px #79582D solid;
  font-size: 15px;
  right: 50vw;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px #aaaaaa;
}
button:active {
  box-shadow: 0 1px #888888;
  transform: translateY(1px);
}
