body {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/wonkyChessboard1.jpeg?v=1734619196496");
  width: 98%;
  height: 97%;
  display: flex;
  align-items: center;
}