.hi { 
  font-size: 0;
}

.aaa {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  margin-left: 2px;
  position: fixed;
  width: 1485px;
}

.draww { 
background-color:#F1D0A5;
}

.ddd {
  background-color: #F1D0A5;
  border: none;
  color: #79582D;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Optima, sans-serif";
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }

.draw {
  float:right;
}

.iNeedBgPles {
  background-color:white;
  position: absolute;
  height: 80px;
  width: 1510px;
  opacity: 0.6;
}