/*heading spacing*/
.aaa {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  position: fixed;
  width: 1475px;
}

/*heading navigation buttons*/
#dr {
  background-color: #F1D0A5;
  border: none;
  color: #79582D; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:"Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#de {
  background-color: #FFE6E6;
  border: none;
  color: #5A519B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#do {
  background-color: #5A519B;
  border: none;
  color: #FFE6E6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#ab {
  background-color: #7469B6;
  border: none;
  color: #E1AFD1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }

#draw {
  float:right;
  padding: 20px 100px;
  cursor: pointer;
  display:inline-block;
  background-color: #7469B6;
  border: none;
  color: #F2E0BF;
  text-align: center;
  text-decoration: none;
  font-family: "Gill Sans", sans-serif;
  font-size: 50px;
  margin: 5px 2px;
  border-radius: 80px;
  position: absolute;
  left: 900px;
  top: 1050px;
}

/*heading transparent background*/
.iNeedBgPles {
  background-color:white;
  position: fixed;
  height: 80px;
  width: 1510px;
  opacity: 0.4;
}

/*home section background*/
#section1 {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/IMG_3485.jpeg?v=1734619196496");
  width: 100%;
  height: 97%;
}

/*unmoving heading*/
.frontPLES {
  z-index:100; 
  position: fixed;
}

/*draw section background*/
#section2 { 
  background-image:url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/IMG_3495.jpeg?v=1734687299950");
  
  width: 100%;
  height: 100%;
  display: inline-block;
}


/*infinite marquee tag*/
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 30px;
  overflow-x: hidden;
}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}
.content {
  font-size: 25px;
  font-family: sans-serif;
  font-variant: small-caps;
  background-color: #f2e0bf;
  color: #79582d;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/*design section background*/
#section3 {
  background-color: #FFE6E6;
  width: 100%;
  height: 100%;
}

/*download section background*/
#section4 { 
  background-color: #5A519B;
  width: 100%;
  height: 100%;
}

/*about section background*/
#section5 {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/IMG_3485.jpeg?v=1734619196496");
  width: 100%;
  height: 100%;
}


h1 {
  font-size: 175px;
  font-family: 'Trattatello', cursive;
  padding: 10% 0 0 0;
  position: absolute;
  left: 350px;
  top: 650px;
  color: #e1afd1;
  text-shadow: -3px -4px 0 #5a519b, 3px -3px 0 #5a519b, -3px 3px 0 #5a519b, 3px 4px 0 #5a519b;
}

h2 {
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  left: 360px;
  top: 1160px;
  color: #5a519b;
}

.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding:10px;
  max-width:100%;
}
.drawing-board {
  flex: 1;
}

