/*heading navigation buttons*/
#dr {
  background-color: #F1D0A5;
  border: none;
  color: #79582D; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:"Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#de {
  background-color: #FFE6E6;
  border: none;
  color: #5A519B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#do {
  background-color: #5A519B;
  border: none;
  color: #FFE6E6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
#ab {
  background-color: #7469B6;
  border: none;
  color: #E1AFD1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  margin: 10px 2px;
  cursor: pointer;
  height: 40px;
  width: 80px;
  }
/*heading*/
.iNeedBgPles {
  background-color:white;
  position: fixed;
  height: 80px;
  width: 1510px;
  opacity: 0.4;
}
.frontPLES {
  z-index:100; 
  position: fixed;
}
.aaa {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  position: fixed;
  width: 1475px;
}


/*home section background*/
#section1 {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/IMG_3485.jpeg?v=1734619196496");
  width: 100%;
  height: 97%;
}
/*infinite marquee tag*/
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 30px;
  overflow-x: hidden;
}
.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
}
.content {
  font-size: 25px;
  font-family: sans-serif;
  font-variant: small-caps;
  background-color: #f2e0bf;
  color: #79582d;
}
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


/*draw section*/
#section2 { 
  background-image:url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DrawBg.jpeg?v=1734687299950");
  background-position: 50% 75%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#section2 h1{
  font-size: 175px;
  font-family: 'Luminari', cursive;
  padding: 10% 0 0 0;
  position: absolute;
  left: 350px;
  top: 650px;
  color: #e1afd1;
  text-shadow: -3px -4px 0 #5a519b, 3px -3px 0 #5a519b, -3px 3px 0 #5a519b, 3px 4px 0 #5a519b;
}
#section2 h2{
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  left: 360px;
  top: 1160px;
  color: #5a519b;
}
#draw {
  float:right;
  padding: 20px 100px;
  cursor: pointer;
  display:inline-block;
  background-color: #7469B6;
  border: none;
  margin: 5px 2px;
  border-radius: 80px;
  position: absolute;
  left: 900px;
  top: 1050px;
}


/*design section*/
#section3 {
  background-image:url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DesignBg.jpeg?v=1734690151945");
  background-position: 25% 75%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#section3 h1{
  font-size: 175px;
  font-family: 'Luminari', cursive;
  padding: 10% 0 0 0;
  position: absolute;
  left: 275px;
  top: 1325px;
  color: #f1d0a5;
  text-shadow: -3px -4px 0 #79582d, 3px -3px 0 #79582d, -3px 3px 0 #79582d, 3px 4px 0 #79582d;
}
#section3 h2{
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  left: 290px;
  top: 1860px;
  color: #79582d;
}
#design {
  float:right;
  padding: 20px 100px;
  cursor: pointer;
  display:inline-block;
  background-color: #ad88c6;
  border: none;
  margin: 5px 2px;
  border-radius: 80px;
  position: absolute;
  left: 900px;
  top: 1750px;
}


/*download section*/
#section4 { 
  background-image:url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/DownloadBg.jpeg?v=1734690154233");
  background-position: 25% 75%;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#section4 h1{
  font-size: 165px;
  font-family: 'Luminari', cursive;
  padding: 10% 0 0 0;
  position: absolute;
  left: 125px;
  top: 2075px;
  color: #f1d0a5;
  text-shadow: -3px -4px 0 #79582d, 3px -3px 0 #79582d, -3px 3px 0 #79582d, 3px 4px 0 #79582d;
}
#section4 h2{
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  position: absolute;
  left: 135px;
  top: 2560px;
  color: #f1d0a5;
}
#download {
  float:right;
  padding: 20px 100px;
  cursor: pointer;
  display:inline-block;
  background-color: #e1afd1;
  border: none;
  margin: 5px 2px;
  border-radius: 80px;
  position: absolute;
  left: 900px;
  top: 2450px;
}


/*about section*/
#section5 {
  background-image: url("https://cdn.glitch.global/fdf6058e-73c2-42ca-8d01-e253e1a6e82b/IMG_3485.jpeg?v=1734619196496");
  width: 100%;
  height: 100%;
}